<mat-toolbar >
    <img src="../../../assets/img/Codemasters_Logo.png" width="8%" alt="code-masters logo" routerLink="/signin">
    <span>Poker Planning</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/signin">Log in</button><p style="color: transparent;">aaa</p>
    <button mat-raised-button color="accent" routerLink="/signup">Sign up</button><p style="color: transparent;">aaa</p>
  </mat-toolbar>
  
<br><br><br><br><br><br>
<section class="intro section-padding">
    <div class="container">
        <div class="row">
            <h1>PokerPlanning, collaborate, win!</h1>
  <p class="intro">Introducing “PokerPlanning”. A responsive one page website, designed & developed By the Codemasters.</p>
  <br><br><br><br><br><br>

            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Easily Customised</h5>
                    <p>Easily customise PokerPlanning to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Modern Design</h5>
                    <p>Designed with modern trends and techniques in mind, PokerPlanning will help your product stand out in an already saturated market.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe046;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Responsive Development</h5>
                    <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured PokerPlanning will look smashing on every device under the sun.</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="footer-links">
                    <p >Copyright © 2024 <a href="#">Codemasters</a><br>
                    <a href="https://esprit-tn.com/ESPOnline/Etudiants/Accueil.aspx">Licence</a> | Crafted with <span class="fa fa-heart pulse2"></span> for <a href="https://esprit-tn.com/ESPOnline/Etudiants/Accueil.aspx">Esprit</a>.</p>
                </div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                    <p>Follow Us</p>
                <a href="https://twitter.com/Houssemjalloul1" class="twitter-share"><img src="../../../assets/img/Twitter.png" alt=""></a> 
                <a href="https://www.facebook.com/houssem.jallouli.3" class="facebook-share"><img src="../../../assets/welcom/img/Facebook.png" alt=""></a><a style="color: transparent;">__</a>
                <a href="https://www.youtube.com/channel/UCvmNYMhL3woai62MG2xbjMQ" class="facebook-share"><img src="../../../assets/welcom/img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    