<h1 class="mt-4">Users</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Users/activities</li>
</ol>
<div class="row">
    <div class="col-xl-8 col-md-12">
        <table class="table table-primary table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of dataSource.data | slice: paginator.pageIndex * paginator.pageSize : (paginator.pageIndex + 1) * paginator.pageSize">
                    <th scope="row">{{a.date}}</th>
                    <td>{{a.activity}}</td>
                    <td *ngIf="a.activity=='login attempt success'">User successfully logged into the system</td>
                    <td *ngIf="a.activity=='login attempt'">User failed to log into the system</td>
                    <td *ngIf="a.activity=='account creation'">An account has been created</td>
                    <td>{{a.email}}</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="activities.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
        