<div class="row">
    <div class="col-xl-7 col-lg-7 col-md-6">
        <div class="d-none d-md-flex align-items-center justify-content-center" style="height: calc(100vh - 100px);">
            <img src="../../../assets/img/Codemasters_Logo.png" alt="img" class="img-fluid">
        </div>
    </div>

    <div class="col-xl-5 col-lg-5 col-md-6">
        <div class="d-flex align-items-center justify-content-center vh-100 bg-white">
            <div class="card rounded-0 border-0 p-5 m-0 w-100">

                <div class="card-header border-0 p-0">
                    <a routerLink="/welcome" class="w-100 d-inline-block mb-5">
                        <img src="../../../assets/img/Codemasters_Logo.png" width="30%" alt="img">
                    </a>
                    <h2>Forgot your password?</h2>
                    <p class="text-dark mt-4 mb-5">Enter your user account's verified email address and we will send you a password reset link.</p>
                </div>

                <div class="card-body p-0">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" value="" placeholder="Email" required [(ngModel)]="email">
                        </div>
                        <div *ngIf="responseerror=='password sent seccesfuly'" class="alert alert-success">
                            {{responseerror}}
                            <br> go to the signin page
                          </div>
                          <div *ngIf="responseerror=='email dosent exist'" class="alert alert-danger">aa
                            {{responseerror}}
                          </div>
                        <button (click)="gogo()" type="submit" class="btn btn-primary w-100 text-uppercase text-white rounded-2 lh-34 ff-heading fw-bold shadow">Send Request</button>
                        <p class="d-flex align-items-center justify-content-between mt-4 mb-4">Want to sign in? <a routerLink="/signin" class="text-primary fw-bold text-decoration-underline">Reset Here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>